*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1rem;
}
body{
    text-align: center;
    /* border: 3px solid red; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
main{
    color: white;
    background-color: rgb(104, 104, 104);
    width: 13rem;
    height: 13rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    /* border: 3px solid red; */
}
#generate{
    padding: .5rem 1rem ;
    margin-top: .5rem;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(255, 250, 186);
}
#generate:active{
    opacity: .7;
}
#copy{
    font-weight: lighter;
    position:relative;
    left: -3.5rem;
    font-size: .8rem;
    /* margin-top: 1rem; */
}
#copy:active{
    opacity: .5;
}